*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
chapter_3/build/intermediates/res/merged/debug/drawable-mdpi-v4/abc_ic_menu_cut_mtrl_alpha.png
chapter_3/build/
chapter_4/build/
chapter_2/build/
chapter_1/build/
chapter_2/.idea/
.idea/
